body {
    font-family: "Noto Sans", sans-serif;
            margin: 0;
            padding: 0;
            background-size: cover;
            color: white;
            background-color: #171b27;
            /* background-image: url("https://images.unsplash.com/photo-1639588435079-046d4b50e7bf?q=80&w=2206&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
        }
        .container{
            display: none;
        }
        @media (max-width: 768px)  {
            .container {
                display: block;
                text-align: center;
                padding: 20px;
                border-radius: 15px;
                width: 90%;
                max-width: 400px;
                margin: 50px auto;
                position: fixed;
                top: 30%;
        }

        img {
            position: fixed;
            width: 81%;
            left: 33px;
            top: 10%;
            border-radius: 12px;
        }

        .location {
            font-size: 17px;
        font-weight: 100;
        position: fixed;
        top: 13px;
        }

        .temperature {
            font-size: 2em;
            font-weight: 300;
            margin: 0;
        }

        .weather-description {
            font-size: 1.5em;
            font-weight: 500;
            margin: 10px 0;
        }

        .date {
            margin-bottom: 20px;
            font-size: 1.2em;
            color: #ffffff;
        }

        .forecast {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .day {
            text-align: center;
            width: 60px;
        }

        .day .day-name {
            font-size: 1em;
            margin-bottom: 5px;
        }

        .day .icon {
            font-size: 1.5em;
            margin-bottom: 5px;
        }

        .day .high-low {
            font-size: 1em;
        }
        .price {
            display: flex;
        }
        .matter {
            bottom: 15px;
            position: relative;
        }

    }
